@charset "utf-8";

/*****
Making a form based on 3 different screen sizes, always starting at the smallest size is the best way to do it, and adding mediaqueries after.
*****/

*{
margin: 0 auto;
padding: 0 auto;

}

html{
background-color: #8180B2;
}

header{
background-color: #565595;
width: 100%;
text-align: center;
padding-bottom: 20px;
}

.form{
text-align: center;

}
label{
display:none;

}
input{
width: 80%;
text-align: center;
height: 30px;
margin: 10px;
}

.send{
width: 120px;
margin-left: 7%;
}



@media screen and (min-width: 600px){

    
    .breakMe{
    float:left;
    display:block;
    width:50%;
    }
    
    label{
    padding:5px;
    text-align: left;
    width:80%;
    display:block;
    }
    
    #send{
    margin-top: 15px;
    margin-left: -45%;
    }
}

@media screen and (min-width: 1000px){
    
    input{
    width:70%;
    }
    
    label{
    float:left;
    width:18%;
    margin-left: 10px;
    }
    
    #send{
    margin-left: 62%;
    }

}
